DAILY_API_KEY=

# determines which bot file to default to: 'gemini' or 'openai'
BOT_IMPLEMENTATION=openai

# needed for the openai bot pipeline
OPENAI_API_KEY=
ELEVENLABS_API_KEY=

# needed for the gemini live bot pipeline
GOOGLE_API_KEY=